flow.json
[
    {
        "id": "f9819933.c64e98",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4ba62338.8fd4dc",
        "type": "inject",
        "z": "f9819933.c64e98",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "temperatura",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "9c7f3e78.3a1518"
            ]
        ]
    },
    {
        "id": "9c7f3e78.3a1518",
        "type": "function",
        "z": "f9819933.c64e98",
        "name": "",
        "func": "msg.payload = Math.round(Math.random()*(20-10))+10\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 180,
        "wires": [
            [
                "e7e14744.c7dfd8"
            ]
        ]
    },
    {
        "id": "1c60b1b2.e4d7ee",
        "type": "switch",
        "z": "f9819933.c64e98",
        "name": "hasLocalState",
        "property": "state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 720,
        "y": 180,
        "wires": [
            [
                "d90080e1.1a0208"
            ],
            [
                "76e4166.4e31c68"
            ]
        ]
    },
    {
        "id": "4f40bbb3.9f5234",
        "type": "function",
        "z": "f9819933.c64e98",
        "name": "getStateInDatabase",
        "func": "msg.payload =\"NORMAL\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 240,
        "wires": [
            [
                "b9a6b045.c985b"
            ]
        ]
    },
    {
        "id": "b9a6b045.c985b",
        "type": "function",
        "z": "f9819933.c64e98",
        "name": "",
        "func": "if(!msg.payload){\n    flow.set(\"state\", \"NORMAL\")\n    msg.state = \"NORMAL\"\n} else {\n    flow.set(\"state\", msg.payload)\n    msg.state = msg.payload\n}\n\nmsg.payload = msg.value\n\ndelete msg.value\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 240,
        "wires": [
            [
                "d90080e1.1a0208"
            ]
        ]
    },
    {
        "id": "e7e14744.c7dfd8",
        "type": "change",
        "z": "f9819933.c64e98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "msg",
                "to": "state",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 180,
        "wires": [
            [
                "1c60b1b2.e4d7ee"
            ]
        ]
    },
    {
        "id": "76e4166.4e31c68",
        "type": "change",
        "z": "f9819933.c64e98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 240,
        "wires": [
            [
                "4f40bbb3.9f5234"
            ]
        ]
    },
    {
        "id": "d90080e1.1a0208",
        "type": "switch",
        "z": "f9819933.c64e98",
        "name": "evaluateCurrentState",
        "property": "state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "NORMAL",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ACTIVE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DISABLED",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SNOOZE_DISABLED",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 980,
        "y": 180,
        "wires": [
            [
                "6abe0546.9b5f24"
            ],
            [
                "631a5b6b.268954"
            ],
            [
                "2f558ef.52fa772"
            ],
            [
                "2f558ef.52fa772"
            ]
        ]
    },
    {
        "id": "6abe0546.9b5f24",
        "type": "link out",
        "z": "f9819933.c64e98",
        "name": "",
        "links": [
            "8ee68b86.17aa9"
        ],
        "x": 1155,
        "y": 120,
        "wires": []
    },
    {
        "id": "631a5b6b.268954",
        "type": "link out",
        "z": "f9819933.c64e98",
        "name": "",
        "links": [
            "53d63605.4c5238"
        ],
        "x": 1155,
        "y": 160,
        "wires": []
    },
    {
        "id": "2f558ef.52fa772",
        "type": "function",
        "z": "f9819933.c64e98",
        "name": "Saída",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8ee68b86.17aa9",
        "type": "link in",
        "z": "f9819933.c64e98",
        "name": "",
        "links": [
            "6abe0546.9b5f24"
        ],
        "x": 35,
        "y": 420,
        "wires": [
            [
                "1526c7d0.68fd28",
                "59e0213e.0355d8"
            ]
        ]
    },
    {
        "id": "53d63605.4c5238",
        "type": "link in",
        "z": "f9819933.c64e98",
        "name": "",
        "links": [
            "631a5b6b.268954"
        ],
        "x": 775,
        "y": 420,
        "wires": [
            [
                "a5f914f9.ebba5",
                "2921cc9a.a3fcfc"
            ]
        ]
    },
    {
        "id": "86bbc6bd.e4665",
        "type": "comment",
        "z": "f9819933.c64e98",
        "name": "Estado \"NORMAL\"",
        "info": "",
        "x": 1270,
        "y": 120,
        "wires": []
    },
    {
        "id": "1526c7d0.68fd28",
        "type": "function",
        "z": "f9819933.c64e98",
        "name": "",
        "func": "const rule = {\n        setpoint: 15,\n        operation: \"gte\",\n    }\n\nconst nextStates = function(onDelay){\n    return onDelay ?\n            {\n                eventName: \"Trigger activation\",\n                nextState: \"TRIGGER_ACTIVATE\",\n            } :\n            {\n                eventName: \"Alarm activation\",\n                nextState: \"ACTIVE\",\n            };\n}\n\nconst availableOperations = {\n    gte: function(value, setpoint, deadband = 0, onDelay = null){\n        if(value >= setpoint + deadband){\n            return nextStates(onDelay)\n        }\n    },\n    \n    lte: function(value, setpoint, deadband = 0, onDelay = null){\n        if(value <= setpoint - deadband){\n            return nextStates(onDelay)\n        }\n    },\n    \n    gt: function(value, setpoint, deadband = 0, onDelay = null){\n        if(value > setpoint + deadband){\n            return nextStates(onDelay)\n        }\n    },\n    \n    lt: function(value, setpoint, deadband = 0, onDelay = null){\n        if(value < setpoint - deadband){\n            return nextStates(onDelay)\n        }\n    },\n}\n\nconst operation = availableOperations[rule.operation]\n\nif(operation) {\n    msg.payload = operation(\n        msg.payload,\n        rule.setpoint,\n        rule.deadband,\n        rule.ondelay\n    ) || {};\n} else {\n    msg.payload = {}\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 420,
        "wires": [
            [
                "28a6b493.eabccc"
            ]
        ]
    },
    {
        "id": "81a2b352.66d12",
        "type": "comment",
        "z": "f9819933.c64e98",
        "name": "Estado \"NORMAL\" (Clique aqui para ver ações)",
        "info": "A ",
        "x": 180,
        "y": 380,
        "wires": []
    },
    {
        "id": "a24858d4.a46d48",
        "type": "link out",
        "z": "f9819933.c64e98",
        "name": "",
        "links": [
            "5174b286.abc6ec"
        ],
        "x": 415,
        "y": 440,
        "wires": []
    },
    {
        "id": "28a6b493.eabccc",
        "type": "switch",
        "z": "f9819933.c64e98",
        "name": "",
        "property": "payload.nextState",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ACTIVE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TRIGGER_ACTIVATE",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 420,
        "wires": [
            [
                "fdaf200f.b2a16"
            ],
            [
                "a24858d4.a46d48"
            ]
        ]
    },
    {
        "id": "fdaf200f.b2a16",
        "type": "link out",
        "z": "f9819933.c64e98",
        "name": "",
        "links": [
            "12854ee5.3ad069"
        ],
        "x": 415,
        "y": 400,
        "wires": []
    },
    {
        "id": "5174b286.abc6ec",
        "type": "link in",
        "z": "f9819933.c64e98",
        "name": "",
        "links": [
            "a24858d4.a46d48"
        ],
        "x": 35,
        "y": 700,
        "wires": [
            [
                "7da6ca2f.8c28c4"
            ]
        ]
    },
    {
        "id": "12854ee5.3ad069",
        "type": "link in",
        "z": "f9819933.c64e98",
        "name": "",
        "links": [
            "fdaf200f.b2a16"
        ],
        "x": 35,
        "y": 540,
        "wires": [
            [
                "69cc3db8.9089e4"
            ]
        ]
    },
    {
        "id": "7da6ca2f.8c28c4",
        "type": "function",
        "z": "f9819933.c64e98",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "59e0213e.0355d8",
        "type": "debug",
        "z": "f9819933.c64e98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 340,
        "wires": []
    },
    {
        "id": "69cc3db8.9089e4",
        "type": "function",
        "z": "f9819933.c64e98",
        "name": "saveState",
        "func": "if(msg.payload.nextState){\n    flow.set(\"state\", msg.payload.nextState)\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 540,
        "wires": [
            [
                "3bfa2bbe.a8c34c",
                "b6480379.04db3"
            ]
        ]
    },
    {
        "id": "b6480379.04db3",
        "type": "function",
        "z": "f9819933.c64e98",
        "name": "saveStateInDatabase",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 580,
        "wires": [
            [
                "745b156c.6d9f64"
            ]
        ]
    },
    {
        "id": "3bfa2bbe.a8c34c",
        "type": "function",
        "z": "f9819933.c64e98",
        "name": "sendNotification",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 540,
        "wires": [
            [
                "f868778.6364988"
            ]
        ]
    },
    {
        "id": "f868778.6364988",
        "type": "debug",
        "z": "f9819933.c64e98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 540,
        "wires": []
    },
    {
        "id": "745b156c.6d9f64",
        "type": "debug",
        "z": "f9819933.c64e98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 580,
        "wires": []
    },
    {
        "id": "a5f914f9.ebba5",
        "type": "function",
        "z": "f9819933.c64e98",
        "name": "",
        "func": "const rule = {\n        setpoint: 15,\n        operation: \"gte\",\n    }\n\nconst nextStates = function(offDelay){\n    return offDelay ?\n            {\n                eventName: \"Trigger return to normal state\",\n                nextState: \"TRIGGER_NORMAL\",\n            } :\n            {\n                eventName: \"Return to normal state\",\n                nextState: \"NORMAL\",\n            };\n}\n\nconst availableOperations = {\n    gte: function(value, setpoint, deadband = 0, offDelay = null){\n        if(value < setpoint - deadband){\n            return nextStates(offDelay)\n        }\n    },\n    \n    lte: function(value, setpoint, deadband = 0, offDelay = null){\n        if(value > setpoint + deadband){\n            return nextStates(offDelay)\n        }\n    },\n    \n    gt: function(value, setpoint, deadband = 0, offDelay = null){\n        if(value <= setpoint - deadband){\n            return nextStates(offDelay)\n        }\n    },\n    \n    lt: function(value, setpoint, deadband = 0, offDelay = null){\n        if(value >= setpoint + deadband){\n            return nextStates(offDelay)\n        }\n    },\n}\n\nconst operation = availableOperations[rule.operation]\n\nif(operation) {\n    msg.payload = operation(\n        msg.payload,\n        rule.setpoint,\n        rule.deadband,\n        rule.ondelay\n    ) || {};\n} else {\n    msg.payload = {}\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 420,
        "wires": [
            [
                "7338ef7b.6595c"
            ]
        ]
    },
    {
        "id": "c4da1473.f5a298",
        "type": "comment",
        "z": "f9819933.c64e98",
        "name": "Estado \"Ativo\" (Clique aqui para ver ações)",
        "info": "A ",
        "x": 920,
        "y": 380,
        "wires": []
    },
    {
        "id": "aca12e8.63e175",
        "type": "link in",
        "z": "f9819933.c64e98",
        "name": "",
        "links": [
            "cbf9f65c.6001"
        ],
        "x": 775,
        "y": 540,
        "wires": [
            [
                "726ea68c.faf198"
            ]
        ]
    },
    {
        "id": "726ea68c.faf198",
        "type": "function",
        "z": "f9819933.c64e98",
        "name": "saveState",
        "func": "if(msg.payload.nextState){\n    flow.set(\"state\", msg.payload.nextState)\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 540,
        "wires": [
            [
                "2dca7db9.92809a",
                "db37efc0.1b9c8"
            ]
        ]
    },
    {
        "id": "db37efc0.1b9c8",
        "type": "function",
        "z": "f9819933.c64e98",
        "name": "saveStateInDatabase",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 580,
        "wires": [
            [
                "def34e93.a106f8"
            ]
        ]
    },
    {
        "id": "2dca7db9.92809a",
        "type": "function",
        "z": "f9819933.c64e98",
        "name": "sendNotification",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 540,
        "wires": [
            [
                "f301ec2d.fe95e8"
            ]
        ]
    },
    {
        "id": "f301ec2d.fe95e8",
        "type": "debug",
        "z": "f9819933.c64e98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 540,
        "wires": []
    },
    {
        "id": "def34e93.a106f8",
        "type": "debug",
        "z": "f9819933.c64e98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 580,
        "wires": []
    },
    {
        "id": "cbf9f65c.6001",
        "type": "link out",
        "z": "f9819933.c64e98",
        "name": "",
        "links": [
            "aca12e8.63e175"
        ],
        "x": 1155,
        "y": 400,
        "wires": []
    },
    {
        "id": "2921cc9a.a3fcfc",
        "type": "debug",
        "z": "f9819933.c64e98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 320,
        "wires": []
    },
    {
        "id": "7338ef7b.6595c",
        "type": "switch",
        "z": "f9819933.c64e98",
        "name": "",
        "property": "payload.nextState",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "NORMAL",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TRIGGER_NORMAL",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 420,
        "wires": [
            [
                "cbf9f65c.6001"
            ],
            []
        ]
    }
]